* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  background-color: black;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color: white;
}





.brand-img img {
  margin-left: 50px;
  margin-top: 15px;
  height: 70px;
  width: 90px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--menu-color);
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

/* No need to display toggler checkbox for large screens - Set display none*/
.hamburger {
  position: absolute;
  top: .75rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* No need to display toggler checkbox for large screens - set display none */
.toggler {
  position: absolute;;
  width: 40px;
  height: 31px;
  display: none;
}



/* Navbar styles for screen width 786px and below */
@media (max-width: 786px) {
  .navbar {
      flex-direction: column;
      
  }

  /* Show hamburger and set diplay flex */
  .hamburger {
      display: flex;
      top: 1.5rem;
      z-index: 1;
  }

  

 

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  /*
      - Place checkbox over hamburger menu
      - Hide checkbox for small screen by setting opacity as 0, so it is not visible
      - Set z-index 2 so it goes over hamburger
  */
  .toggler {
      display: flex;
      top: 1.2rem;
      left: 0.5rem;
      z-index: 2;
      opacity: 0;
  }

  /* Hide navbar and only display when hamburger is clicked */
   .navbar-links {
      display: none;
      width: 100%;
  }

  /* When toggler checkbox is checked display menu */
   .toggler:checked ~ .navbar-links {
      display: flex;
  }

}




input[type=text], select, textarea{
  color: #a2791d;
  width: 50%;
  padding: 12px 20px; 
  border: 1px solid  #a2791d; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 20px;
  
}
input[type=datetime-local] {
  color: #a2791d;
  padding: 12px 20px;
  width: 50%;
  border: 1px solid #a2791d; 
  border-radius: 4px;
  cursor: pointer;
  padding-right: 12px;
  margin-left: 80px;
}

input[type=submit] {
  background-color: #9b6f34;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 5%;
}


input[type=submit]:hover {
  background-color:#e1bb8a; ;
}
#select [guests]{
  padding-left: 20px;
}


#container {
 
  padding: 20px;
  
}

.content{
  
  padding-top: 20px;
  color:#a2791d;
  grid-column: 2;
  grid-row: 1;
  
 
  }
.image-1{
  border-radius: 30%;
  padding-top: 30px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
    
}

@media (max-width: 768px) {

  #container {
    color: rgb(97, 63, 97);
    border-radius: 5px;
    padding: 20px;
    
  }
  
  .content{
    color:#a2791d;
    grid-column:1 ;
    grid-row: 2;
   
    }
  .image-1{
   padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  
}


footer {
  min-height: 150px;
  
  margin-top: 90px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
 
}
[class*="box"] {
  margin: 10px;
  min-height: 100px;
  border: 1px solid #9b6f34;
}

.box-1 {
  grid-column: 1;
  grid-row: 1;
  
}
  

.box-2 {
  grid-column: 2;
  grid-row: 1;

}

.box-3 {
grid-column: 3;
grid-row: 1;
}

#instagram{
  letter-spacing: 4px;
color: #a2791d;
font-size: 24px;
padding-left: 20px;
padding-top: 20px;
}

#facebook{
  letter-spacing: 4px;
color: #a2791d;
font-size: 24px;
padding-left: 20px;
padding-top: 15px;
}
#tripadvisor{
  letter-spacing: 4px;
  color: #a2791d;
font-size: 24px;
padding-left: 20px;
padding-top: 10px;

}
