* {
  box-sizing: border-box;
 
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(32, 30, 30);
  padding-right: 20px ;
  margin: auto;
}



.header {
  color: #9b6f34;
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 4px;
  border-bottom: rgb(31, 23, 38) solid 1px;
 
}


.section{
  color:#a2791d;
  display: grid;
text-align: center;
  
 
  }

input[type=text], select, textarea{
  color: #a2791d;
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}
input[type=datetime-local] {
  color: #a2791d;
  padding: 12px 20px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.section-1 {
  color: rgb(67, 44, 67);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}