footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: black;
  color: var(--menu-color);
}
footer .content {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 20px;
  border: dotted goldenrod;
}
footer .content h2 {
  position: relative;

  font-weight: 500;
  margin: 10px;
}
footer .content h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}
footer .content .aboutus p {
  text-align: justify;
  padding: 10px;
}

h2 {
  text-align: center;
}


.followus {
    padding: 10px;
}

.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}
.social li {
  list-style-type: none;
}
.social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: goldenrod;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.social li a:hover {
  background-color: antiquewhite;
}
.social li a .fa {
  color: #fff;
  font-size: 20px;
}
.contact {
  position: relative;
}
.contact li {
  text-align: center;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 15px;
}
.contact a {
  color: var(--menu-color);
  text-decoration: none;
}
.contact a:hover {
  color: blanchedalmond;
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact li {
    grid-template-columns: 1fr;
  }

  .followus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }


}
@media (max-width: 768px) {
  footer .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact li {
    grid-template-columns: 1fr;
  }

  .followus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
