@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root {
    --red:#ff3838;
    --primary-color: rgba(13, 110, 139, 0.4);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
    --menu-color: #a2791d;
    

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}



/* body text starts here*/


  .showcase {
    background-color: var(--primary-color);
    color: #fff;
    height: 180vh;
    position: relative;

}

.showcase::before {
    content: '';
    background: url(../images/backgroud-image2.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90%;
}

.showcase h1{
    font-size: 4rem;

}

.showcase p {
    font-size: 1.3rem;

}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    text-decoration: none;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opactiy 1s ease-in;
}

.btn:hover {
    opacity: 0.7;
}


 @media (max-width:768px) {

     .showcase {       
         height: 450vh;
        }

    .showcase .showcase-inner {
        height: 100%;
    }


}

