* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  background-color: black;
}
body {
  margin: 10px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #a2791d;
  font-size: 25px;
}

.brand-img img {
  height: 70px;
  width: 90px;
  margin-top: 15px;
  justify-content: center;
  align-content: center;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--menu-color);
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

/* No need to display toggler checkbox for large screens - Set display none*/
.hamburger {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* No need to display toggler checkbox for large screens - set display none */
.toggler {
  position: absolute;
  width: 40px;
  height: 31px;
  display: none;
}

/* Navbar styles for screen width 786px and below */
@media (max-width: 786px) {
  .navbar {
    flex-direction: column;
  }

  /* Show hamburger and set diplay flex */
  .hamburger {
    display: flex;
    top: 1.5rem;
    z-index: 1;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  /*
      - Place checkbox over hamburger menu
      - Hide checkbox for small screen by setting opacity as 0, so it is not visible
      - Set z-index 2 so it goes over hamburger
  */
  .toggler {
    display: flex;
    top: 1.2rem;
    left: 0.5rem;
    z-index: 2;
    opacity: 0;
  }

  /* Hide navbar and only display when hamburger is clicked */
  .navbar-links {
    display: none;
    width: 100%;
  }

  /* When toggler checkbox is checked display menu */
  .toggler:checked ~ .navbar-links {
    display: flex;
  }
}

main {
  grid-area: main;
}
.sidebar-right {
  grid-area: sb-right;
}
.sidebar-left {
  grid-area: sb-left;
}
section {
  grid-area: sec-1;
}
footer {
  grid-area: ft;
}

#container-1 {
  width: 100%;
  display: grid;
  height: 100%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 50px;

  grid-template-areas:
    "sec-1 sec-1 sec-1 sec-1 sec-1 sec-1 "
    "sb-left sb-left main main sb-right sb-right"
    "ft ft ft ft ft ft";
}

.img1,
.img2,
.img3,
.img4 {
  margin: 10px;
  border: 3px solid #a2791d;
  box-shadow: 3px 3px 8px 0px #9b6f34;
  max-width: 23vw;
}
.container-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
::placeholder {
  color: black;
}

.sidebar-right {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  width: auto;
}
.sidebar-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  align-items: center;
  align-content: center;
  width: auto;
}
#map {
  margin: 20px;
}

.h2-main,
h1 {
  font-family: sans-serif;
  color: #a2791d;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}

h3 {
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: 10px;
}

p {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 20px;
}
main {
  height: auto;
  min-width: 300px;
}
#text {
  color: white;
}

#Email {
  background-color: #a2791d;
  height: 30px;
  width: 300px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #fff;
}
#Name {
  background-color: #a2791d;
  height: 30px;
  width: 300px;
  margin-top: 5px;
  border-radius: 2px;
  border: 1px solid #fff;
}

input[type="submit"] {
  background-color: #a2791d;
  height: 30px;
  width: 300px;
  margin-top: 10px;
  border-radius: 2;
  border: 1px solid white;
  color: #fff;
}
input[type="submit"]:hover {
  background-color: lightgreen;
}

textarea {
  color: black;
  width: 300px;
  height: 140px;
  border: 1px solid white;
  background-color: #a2791d;
  border-radius: 2px;
  margin-top: 10px;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: black;
  color: #fff;
}
footer .content {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 20px;
  border: dotted goldenrod;
}
footer .content h2 {
  position: relative;
  color: #a2791d;
  margin-top: 20px;
}

footer .content h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
}
footer .content .aboutus p {
  text-align: justify;
  padding: 10px;
}

h2 {
  color: #a2791d;
  text-align: center;
}

.followus {
  padding: 10px;
}

.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}
.social li {
  list-style-type: none;
}
.social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: goldenrod;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.social li a:hover {
  background-color: antiquewhite;
}
.social li a .fa {
  color: #fff;
  font-size: 20px;
}
.contact {
  position: relative;
}
.contact li {
  text-align: center;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 15px;
}
.contact a {
  color: var(--menu-color);
  text-decoration: none;
}
.contact a:hover {
  color: blanchedalmond;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact li {
    grid-template-columns: 1fr;
  }

  .followus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
/* Tablet screen */
@media (max-width: 991px) {
  #container-1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    
  }
}

/* Mobile screen */

@media (max-width: 768px) {
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .img1,
  .img2,
  .img3,
  .img4 {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact li {
    grid-template-columns: 1fr;
  }

  .followus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
